{% extends 'base.html' %}
{% block title %}Education{% endblock %}
{% block content %}
<section class="education-section" id="educationpage">
  <h2 class="tittleedu" data-aos="fade-up"> Educational  Journey </h2>
  {%if education %}
  <div class="education-list">
{% for education in education|dictsortreversed:"graduation_date" %}
  <div class="education-item" data-aos="{% if forloop.counter|divisibleby:2 %}fade-left{% else %}fade-right{% endif %}" data-aos-duration="1000">
    <!-- Timeline icon that will hold a random icon -->
    <span class="timeline-icon"></span>
    <h3>{{ education.degree }}</h3>
    <p>{{ education.institution }}</p>
    <p><strong>Year:</strong> {{ education.graduation_date }}</p>
    <p>{{ education.description }}</p>
  </div>
{% endfor %}

    {% else %}
    {% comment %} <p class="exception">No education information available</p> {% endcomment %}
    <div class="no-info">
    <div class="container">
      <!-- SVG Icon -->
      {% comment %} <svg class="no-info-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" fill="red"/>
      </svg> {% endcomment %}

      <!-- Animated Text -->
      <p class="message">Educations not added<span class="dots"><span>.</span><span>.</span><span>.!!</span></span></p>
  </div>
  </div>
    {% endif %}
  </div>
</section>
{% endblock %}
